main {
  display: flex;
  flex-direction: row;
}
.search-section {
  width: 50vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  position: fixed;
}
.notification {
  width: 35vw;
}
header {
    margin-bottom: 1.9vh;
}
.search-form {
  width: 35vw;
  height: 60vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.results-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  margin-left: 50%;
}

.error-section {
    margin-top: 10vh;
}

.displayed-movies {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 5vh;
  border-left: 5px double lightblue;

}
.is-danger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: 30vw;
}
.research-title {
    width: 100%;
    text-align: center;
    padding: 20px;
    font-size: 16;
    font-weight: bold;
    color: cadetblue
}

.card {
  background-color: blue;
  width: 15vw;
  margin: 25px;
}
p.title {
  height: max-content;
}
.card-content {
  padding: 0.5em;
  display: flex;
  align-items: center;
  text-align: center;
  height: 15vh;
}

 